{include file="Layout/header" /}
<div class="x-body">
    <xblock>
        <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="x_admin_show('添加用户','./add.html')"><i class="layui-icon"></i>添加</button>
        <button class="layui-btn layui-btn-sm layui-btn-warm" onclick="javascript:location.replace(location.href);">
            <i class="layui-icon">&#x1002;</i> 刷新
        </button>
    </xblock>
    <table id="demo" lay-filter="test"></table>
</div>

<script type="text/html" id="avatarTpl">
    <img style="height: 40px;" src="{{d.avatar?d.avatar:''}}" alt="">
</script>

<script type="text/html" id="rightTpl">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['laydate', 'table'], function () {
        var laydate = layui.laydate;
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            , height: 'full-200'
            , url: './lists' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: 80, sort: true, align: 'center', fixed: 'left'}
                , {field: 'username', title: '用户名', width: 80, align: 'center'}
                , {field: 'avatar', title: '头像', width: 100, align: 'center', templet: '#avatarTpl'}
                , {field: 'roles', title: '角色', width: 80, align: 'center'}
                , {field: 'create_time', title: '创建时间', align: 'center', width: 160, sort: true}
                , {field: 'update_time', title: '更新时间', align: 'center', width: 160, sort: true}
                , {field: 'right', title: '操作', align: 'center', toolbar: '#rightTpl'}
            ]]
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });

        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if (layEvent === 'detail') { //查看
                //do somehing
            } else if (layEvent === 'del') { //删除
                layer.confirm('请确认删除这条数据',{title: "提示"}, function (index) {
                    $.ajax({
                        url: './delete?del_id=' + data.id,
                        method: 'GET',
                        success: function (result) {
                            console.log(result);
                            layer.msg(result.msg, {offset: '80px'}, function () {
                                obj.del();
                            });
                            return false;
                        }
                    });
                });
            } else if (layEvent === 'edit') { //编辑
                layer.open({
                    type: 2,
                    title: '编辑',
                    shadeClose: true,
                    maxmin: true,
                    area: ['80%', '80%'],
                    content: './edit.html?edit_id=' + data.id
                });
            }
        });
    });
</script>
