{include file="Layout/header" /}
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">权限名称</label>
            <div class="layui-input-inline">
                <input type="text" name="auth_name" required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"><span class="x-red">必填</span></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限链接</label>
            <div class="layui-input-inline">
                <input type="text" name="auth_link" required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"><span class="x-red">必填</span></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-inline">
                <input type="text" name="icon" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"><span >选填</span></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上级菜单</label>
            <div class="layui-input-inline">
                <select name="PID" lay-filter="PID" required="" lay-verify="required">
                    {volist name="auth_list" id="vo"}
                    <option value="{$vo.id}">{$vo.auth_name}</option>
                    {/volist}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux"><span class="x-red">必填</span></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline">
                <input type="text" name="sort" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"><span >选填</span></div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="add" lay-submit="">确认添加</button>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;
        //自定义验证规则
        form.verify({
            nikename: function (value) {
                if (value.length < 5) {
                    return '昵称至少得5个字符啊';
                }
            }
            , pass: [/(.+){6,12}$/, '密码必须6到12位']
            , repass: function (value) {
                if ($('#L_pass').val() != $('#L_repass').val()) {
                    return '两次密码不一致';
                }
            }
        });
        //监听提交
        form.on('submit(add)', function (data) {
            // var checkID = [];
            // $("input[name='auth_name']:checked").each(function (i) {
            //     checkID[i] = $(this).val();
            // });
            // data.field = checkID.join(',');
            console.log(data.field);
            $.ajax({
                url: '/admin/system.auth/store',
                method: 'POST',
                data: data.field,
                success: function (result) {
                    console.log(result);
                    layer.alert(result.msg, {offset: '80px'}, function () {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    });
                    return false;
                }
            });
            return false;
        });
    });
</script>
